/*cores
#005ca9

Cores status {
    vermelha - #ff7068ec
    amarelo - #fdfd96
    verde - #77dd77
}
*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

#horario {
    font-size: larger;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #005ca9;
    min-width: 100svw;
    max-width: fit-content;
    color: white;
}

.titulo {
    font-size: 40pt;
}

.perfil {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: center;
    font-size: 10pt;
    margin-right: .5svw;
}

a {
    color: white;
}

.div_sair {
    text-align: center;
}   

.chamar_upload {
    text-decoration: underline;
    cursor: pointer;
}

.img_perfil {
    width: 3.5svw;
    padding: 3%;
    height: auto;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

.senai_logo {
    width: 14svw;
    height: auto;
}

main {
    display: flex;
    margin: 2% 0 0 0;
}

/* MENU FLUTUANTE DE UPLOAD */

.tela_upload {
    position: fixed;
    display: none;
    align-self: center;
    left: calc(50% - 12.5svw);
    background-color: white;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: 25svw;
    box-shadow: 10px 10px 10px black;
    gap: 40px;
    border-radius: 8px;
}

.tela_upload > h3 {
    font-size: 11pt;
}

.fechar_tela {
    align-self: flex-end;
}

.upload_foto {
    word-wrap: break-word;
}

/* FIM MENU FLUTUANTE DE UPLOAD */

/* MENU LATERAL*/

aside {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    min-width: 14svw;
    height: fit-content;
    background-color: grey;
    border: 2px solid black;
    box-shadow: 6px 6px 6px black;
    gap: 8px;
}

.verificador_sala {
    display: flex;
    padding-top: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    min-width: 1svw;
}

.tamanho_fixo {
    max-width: fit-content;
    min-width: 7svw;
    height: fit-content;
}

.registrar_sala {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding: .3%;
}

.registro_funcionario_btn, .verificar_sala_btn, #cadastrar_sala_btn {
    color: black;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    max-width: fit-content;
    min-width: 5svw;
    text-align: center;
    border: 2px solid black;
}

.registro_funcionario_btn {
    margin-bottom: 2%;
}

.registro_funcionario_btn:hover {
    background-color: rgb(226, 224, 224);
}

.salas_status {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2px;
    max-width: fit-content;
    min-width: 100svw;
}

.salas_status_coluna { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
}

/*TABELA SALAS*/

.salas {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 80svw;
    margin: auto;
}

.flex_div{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 400px;
    gap: 5px;
    margin-left: 2%;
    margin-top: 2%;
    border: 2px solid black;
    padding: 1%;
    width: 10svw;
    box-shadow: 5px 5px 5px black;
}

.salas > section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 auto;
    width: 30%;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 1%;
}

.salas > section > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 20%;
}

.salas_disponivel {
    background-color: #77dd77;
}

.salas_interditado {
    background-color: #fdfd96;
}

.salas_fechado {
    background-color: #ff7068ec;
}

.data_indisponivel {
    background-color: #ff7068ec;
    border: solid black 1.5px;
}

.data_disponivel {
    background-color: #FFFFFF;
    border: solid black 1.5px;
}

.botao {
    margin: auto;
    min-width: fit-content;
    width: 5svw;
    height: 3svh;
    border-radius: 7px;
}

.erro {
    display: flex;
    border: 2px solid black;
    padding: 1%;
    background-color: RGB(242, 54, 52);
    color: white;
    align-items: center;
    min-width: fit-content;
    font-size: large;
    word-wrap: break-word;
    width: 12svw;
}

.certo {
    display: flex;
    border: 2px solid black;
    padding: 1%;
    background-color: RGB(142, 214, 151);
    color: white;
    align-items: center;
    width: 12svw;
    min-width: fit-content;
    text-align: center;
    font-size: large;
    word-wrap: break-word;
}

.fechar {
    align-self: flex-end;
    margin-bottom: auto;
    font-size: small;
    border-radius: 30px;
    padding: 1% 2%;
    background-color: red;
}

@media only screen and (max-width: 1380px) {
    .senai_logo {
        width: 18.9svw;
    }

    .img_perfil {
        width: 3.5svw;
    }

    .encaminhar_usuario_btn {
        min-width: fit-content;
    }

    .tela_upload > h3 {
        font-size: 10pt;
    }

    aside {
        max-width: fit-content;
        min-width: 20svw;
    }

    .tamanho_fixo {
        width: 12svw;
    }

    .salas_status_coluna {
        flex-direction: column;
        gap: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .titulo {
        margin: auto;
        font-size: 30pt;
    }

    main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tela_upload > h3 {
        font-size: 10pt;
    }

    aside {
        max-width: fit-content;
        min-width: 25svw;
    }

    .tamanho_fixo {
        width: 80px;
    }

    .registro, .img_perfil, .senai_logo {
        display: none;
    }

    .salas_status {
        display: flex;

    }
}

@media only screen and (max-width: 380px) {
    .titulo {
        font-size: 20pt;
    }
    a {
        font-size: 10pt;
    }

    .tamanho_fixo {
        width: 50px;
    }
    aside {
        max-width: fit-content;
        min-width: 30svw;
    }

}

@media only screen and (max-width: 280px) {
    aside {
        max-width: fit-content;
        min-width: 40svw;
    }
}